{% extends 'base.html' %}

{% block content %}
    {% for recroute in recroutes %}
    <form action="{% url 'message_url' sith.id recroute.email%}" method="post">
        {% csrf_token %}
        <p>Имя: {{ recroute.name }}</p>
        <p>Планета: {{ recroute.planet }}</p>
        <p>Возраст: {{ recroute.age }}</p>
        <p>E-mail: {{ recroute.email }}</p>
        <p>Оценка(от 0 до 3): {{ recroute.score }}</p>
        <input type="submit" value="Send Message" />
    </form>
    {% endfor %}
{% endblock %}