{% extends 'base.html' %}

{% block content %}
<form action="{% url 'questions_url' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button class="btn btn-secondary btn-sm" type="submit">Send</button>
    </div>
</form>
{% endblock %}