{% extends 'base.html' %}

{% block content %}
<div>
    <p>{{ email }}</p>
    <p>{{question.question_text}}</p>
    <form action="{% url 'vote' question.id email %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
        {% endfor %}
        <input type="submit" value="Vote" />
    </form>
</div>
{% endblock %}