{% extends 'base.html' %}

{% block content %}
    <a href="/begin/recroutes/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Recroute</a> or
    <a href="/begin/siths/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Sith</a>
{% endblock %}