{% extends 'base.html' %}

{% block content %}
    {% for sith in siths %}
    <form action="{% url 'list_url' sith.id %}" method="post">
        {% csrf_token %}
        <div class="container mt-5">
            <p>Имя: {{ sith.name }}</p>
            <p>Планета: {{ sith.planet }}</p>
            <input type="submit" value="Choose" />
        </div>
    </form>
    {% endfor %}
{% endblock %}